body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    transition: 0.3s ease;
}

#mensagem {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.oculto {
    display: none;
}