#error {
    color: red;
    font-size: 1.5em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#fatogato {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}