body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: darkgreen;
    transition: 0.1s ease;
}